.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ff76cb;
    box-shadow: 0 0 10px #ef3a8c;
    border-radius: 5px;
    }
    
    h1 {
    text-align: center;
    }
    
    .form-group {
    margin-bottom: 22px;
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    }
    
    input[type="text"],
    input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid plum;
    border-radius: 3px;
    }
    
    button {
    width: 100%;
    padding: 10px;
    background-color: #f132a4;
    color: #f335c9;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #ec2aa2;
    }